body {
    font-family: timesnewroman;
    background-color: lightblue;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 3400%;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.img-medium {
    height: 200px;
}

