body {
    font-family: timesnewroman;
    background-color: lightblue;
    margin-top: 100px;
}

.center {
    text-align: right;

}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.img-medium {
    height: 200px;
}

.footer {
    
  text-align:center;  
  font-size:100%;
  color:green;
    
}