body {
    font-family: timesnewroman;
    background-color: lightblue;
    margin-top: 50px;
}

.container{
   
text-align:center;

}


.center {
    text-align: left;
    margin-left: 20px;

}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.img-medium {
    height: 200px;
}

.footer {
    
  text-align:center;  
  font-size:100%;
  color:green;
    
}